<%-include('partials/header')-%>
<h1 class="art_tittle">ARTE AMBIENTAL</h1>
<p class="arte_invitacion">Explora nuestra selección, una colección de 12 ideas en las que podemos aportar a la <a class="inst_credits" href="/educacion_ambiental">bioeconomia.</a></p>
<img class="deco_arte_ambiental" src="/images/giphy.gif" alt="">
<div class="sections ">
	<div class="container text-center">
		<div class="row">
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="/images/arte_ambiental/collage_material_reciclado.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Collage con material reciclado</h5>
						<p class="card-text"></p>
						<a href="https://www.youtube.com/watch?v=XZfDPt4xJGI&pp=ygUeY29sbGFnZSBjb24gbWF0ZXJpYWwgcmVjaWNsYWRv" class="btn btn-light"><i class="fa-brands fa-youtube"></i></a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="/images/arte_ambiental/jardines_verticales.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Jardines verticales</h5>
						<p class="card-text"></p>
						<a href="https://www.youtube.com/watch?v=IEX7D8wxkm4&pp=ygUgamFyZGluZXMgdmVydGljYWxlcyBjb24gYm90ZWxsYXM%3D" class="btn btn-light"><i class="fa-brands fa-youtube"></i></a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="/images/arte_ambiental/tapas_botella.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Reacondicionamiento de tapas de botellas</h5>
						<p class="card-text"></p>
						<a href="https://www.youtube.com/watch?v=Gwdv8Y4pTBM&pp=ygUfcGFwZWxlcmFzIGNvbiB0YXBhcyBkZSBib3RlbGxhcw%3D%3D" class="btn btn-light"><i class="fa-brands fa-youtube"></i></a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="/images/arte_ambiental/papel_casero.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Papel casero</h5>
						<p class="card-text"></p>
						<a href="https://www.youtube.com/watch?v=YE33M1Xb0to&pp=ygUMcGFwZWwgY2FzZXJv" class="btn btn-light"><i class="fa-brands fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="/images/arte_ambiental/terrarios_vidrio.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Terrarios con botellas de vidrio</h5>
						<p class="card-text"></p>
						<a href="https://www.youtube.com/watch?v=1gAXgFm5Iho&pp=ygUgVGVycmFyaW9zIGNvbiBib3RlbGxhcyBkZSB2aWRyaW8%3D" class="btn btn-light"><i class="fa-brands fa-youtube"></i></a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="/images/arte_ambiental/velas_caseras.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Velas caseras</h5>
						<p class="card-text"></p>
						<a href="https://www.youtube.com/watch?v=SsIHwXVumjI&pp=ygUNVmVsYXMgY2FzZXJhcw%3D%3D" class="btn btn-light"><i class="fa-brands fa-youtube"></i></a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Alcancía</h5>
						<p class="card-text"></p>
						<a href="#" class="btn btn-light"><i class="fa-brands fa-youtube"></i></a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Maceta</h5>
						<p class="card-text"></p>
						<a href="#" class="btn btn-light"><i class="fa-brands fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Dispensador de comida</h5>
						<p class="card-text"></p>
						<a href="#" class="btn btn-light"><i class="fa-brands fa-youtube"></i></a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="/images/arte_ambiental/marco_natural.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Marcos de fotos naturales</h5>
						<p class="card-text"></p>
						<a href="https://www.youtube.com/watch?v=blMIjJW7WJ8&pp=ygUZbWFyY29zIGRlIGZvdG9zIGNvbiByYW1hcw%3D%3D" class="btn btn-light"><i class="fa-brands fa-youtube"></i></a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="/images/arte_ambiental/collares.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Collares de semillas</h5>
						<p class="card-text"></p>
						<a href="https://www.youtube.com/watch?v=IuMTnEbZ2Aw&pp=ygUVY29sbGFyZXMgY29uIHNlbWlsbGFz" class="btn btn-light"><i class="fa-brands fa-youtube"></i></a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="/images/arte_ambiental/bolsas_tela.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Bolsas de tela</h5>
						<p class="card-text"></p>
						<a href="https://www.youtube.com/watch?v=Qiv-QnBvotU" class="btn btn-light"><i class="fa-brands fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<%-include('partials/footer')-%>