<%-include('partials/header')-%>
<body>
  <img class='decoration_1' src="images/decoration_1.gif">
  <div class="first_section">
    <div class="header">
      <img class='udea' src="images/logosimbolo-horizontal-png.png">
      <h3>es</h3>
      <h1 class="ecocreativo">ECOCREATIVA</h1>
    </div>
  </div>
  <hr>
  <div class="container proyect_description">
    <h1 class="">쯈ui칠nes somos?</h1>
    <p class="index_text_ajust">Somos estudiantes de la carrera de Ingenier칤a Ambiental de la Universidad de Antioquia en Medell칤n Colombia. Estamos comprometidxs
      con las revoluciones cr칤ticas que se plantean en los tiempos contempor치neos as칤 como
      la construcci칩n de un pa칤s mas <a href="/educacion_ambiental" class="inst_credits">sustentable</a> y respetuoso con la Naturaleza.</p>
      <h1 class="">Objetivo del Proyecto</h1>
      <p class="index_text_ajust">
        Propiciar espacios did치cticos para la discusi칩n de temas ambientales, promover <a href="/arte_ambiental" class="inst_credits">pr치cticas de reacondicioneamiento</a> , fomentar la <a href="/participacion_ciudadana" class="inst_credits">participaci칩n ciudadana </a> y explorar el conocimiento del estudiantado. Partiendo de estos descubrimientos, se busca educar e ilustrar, respetando y valorando los
        aspectos culturales de lxs participantes. Este proyecto est치 dise침ado para
        promover no solo el cuidado de la Naturaleza, sino tambi칠n el bienestar social,
        integrando el arte y la creatividad en la soluci칩n de problemas ambientales y el fortalecimiento de la comunidad universitaria.
      </p>
    </div>
    <hr>
    <div class="sections ">
      <div class="container text-center">
        <div class="row">
          <div class="col"><a class="index_divs" href="/arte_ambiental" ><div class="galeria">
            <h3 class="index_divs">Galer칤a de Arte Ambiental</h3>
            游꿛
          </div></a></div>
          <div class="col"><a class="index_divs" href="/educacion_ambiental" ><div class="educacion">
            <h3 class="index_divs">Educaci칩n Ambiental</h3>
            游꺕
          </div></a></div>
          <div class="col"><a class="index_divs" href="/participacion_ciudadana" ><div class=" participacion">
            <h3 class="index_divs">Participaci칩n Ciudadana</h3>
            游뗿
          </div></a></div>
          <div class="col"><a class="index_divs" href="/talleres_sustentables" ><div class=" talleres">
            <h3 class="index_divs">Taller</h3>
            游댣
          </div></a></div>
        </div>
      </div>
    </div>
    <hr>
    
    <%-include('partials/footer')-%>