<%-include('partials/header')-%>
<h1 class="">ORDEN DEL DIA</h1>
	<div class="container orden_dia">
		<div class="fases">
			<h2>Fases:</h2>
			<ul>
				<li>Fase 1: Actividad Lúdica (2 juegos que abordarán temas como lo son:
				sociedad del riesgo y choques socioambientales).
				</li>
				<li>Fase 2: Eco Picnic (temas a tratar: recuperación de ecosistemas y
				mecanismos de participación).
				</li>
				<li>Fase 3: Taller de Arte con Materiales Reciclados (demostración de la
				transformación de materiales).
				</li>
			</ul>
	</div>
	<div class="fases">
		<h2>04:00 - 04:05 PM: Bienvenida e Introducción al Proyecto</h2>
			<ul>
				<li>Recepción de los estudiantes en el hall del bloque 19.</li>
				<li>Explicación breve del cronograma y las fases.</li>
				<li>Distribución de grupos y materiales.</li>
			</ul>
	</div>
	<div class="fases">
		<h2>04:05 - 04:40 PM: Primera Ronda</h2>
			<ul>
				<li>Grupo A: Fase 1 (Actividad Lúdica).</li>
				<li>Grupo B: Fase 2 (Eco Picnic).</li>
				<li>Grupo C: Fase 3 (Taller de Arte).</li>
			</ul>
	</div>
	<div class="fases">
		<h2>04:40 - 05:15 PM: Segunda Ronda</h2>
			<ul>
				<li>Grupo A: Fase 2 (Eco Picnic).</li>
				<li>Grupo B: Fase 3 (Taller de Arte).</li>
				<li>Grupo C: Fase 1 (Actividad Lúdica).</li>
			</ul>
	</div>
	<div class="fases">
		<h2>05:15 - 05:50 PM: Tercera Ronda</h2>
			<ul>
				<li>Grupo A: Fase 3 (Taller de Arte).</li>
				<li>Grupo B: Fase 1 (Actividad Lúdica).</li>
				<li>Grupo C: Fase 2 (Eco Picnic).</li>
			</ul>
	</div>
	<div class="fases">
		<h2>05:50 - 06:00 PM: Conclusión y Cierre</h2>
			<ul>
				<li>Recapitulación de las actividades realizadas.</li>
				<li>Evaluación general del proyecto.</li>
				<li>Agradecimientos y despedida.</li>
			</ul>
	</div>
	</div>
	<hr>
	<%-include('partials/footer')-%>