/** COLOR PALETTE
 * 	ACE1AF
 * 	B0EBB4
 * 	BFF6C3
 * 	E0FBE2
 * **/
 body{
 	font-family: "Montserrat", sans-serif;
 	background-color: #FFFFFF;
 	position: relative;
 	text-align: center;
 }


/************ HEADER SECTION ->*/
.udea{
	padding: 5px;
}
 .first_section{
 	height: 100%;
	width: 100%;
	
 }
.header{
	font-family: "Bungee", sans-serif;
	-webkit-text-stroke: 0.1em #000; 
	padding: 5%;
	color: #000 ;
		
}
.ecocreativo{
	-webkit-text-stroke: 1px #000; 
	font-size: 3.5em;
	text-shadow: 1px #E0FBE2; 
	animation: color_Change 2s linear infinite;
}

@keyframes color_Change{
	0% {color: #E0FBE2;}
	50% {color: #CAF4FF;}
	80% {color: #E0FBE2;}
	100%{color:#ACE1AF}
}
/* DECORACION PAGINA PRINCIPAL */

.decoration_1{
	width: 10%;
	position: absolute;
	left: 0;
}

/************ HORIZONTAL RULES STYLING->*/
hr{
  width: 100%;
}

/************ PAGINA PRINCIPAL -> DESCRIPCION DEL PROYECTO*/


.proyect_description{
	margin: auto;
	letter-spacing: 0.2em;
	align-content: center;
	width: 100%;
}

/************ SECTIONS ->*/
h3{
	font-size: 1.5em;
}
.galeria{
	transition: transform 0.5s ease; 
}
.galeria:hover{

	border-radius: 50%;
padding:2%;
	transform: scale(1.5, 1.5);
	background-color:#E0FBE2; 

}
.educacion{
	transition: transform 0.5s ease; 
}
.educacion:hover{
	border-radius: 50%;
padding:2%;
	transform: scale(1.5, 1.5);
	background-color:#CAF4FF; 
}

.talleres{
	transition: transform 0.5s ease; 
}
.talleres:hover{
	padding:2%;
	border-radius: 50%;
	transform: scale(1.5, 1.5);
	background-color:#ACE1AF; 
}

.participacion{
	transition: transform 0.5s ease;
}
.participacion:hover{
	padding:2%;
	border-radius: 50%;
	transform: scale(1.5, 1.5);
	background-color:#E49BFF; 
}
/*************** CREDITOS*/



.inst_credits{
	color: gray;
	text-decoration: none;
}
.inst_credits:hover{
	color:#ACE1AF ;
}

/* EDUCACION AMBIENTAL -> CONCEPTOS */

.header_educacion_ambiental{
	align-items: center;
}

.educacion_ambiental_intro{
	letter-spacing: 0.2em;
	margin: auto auto 3% auto;
	width: 100%;
	font-size: 2.5vh;
}

.educacion_ambiental_tittle{
	padding: 0.5em;
	font-family: "Bungee", sans-serif;
	-webkit-text-stroke: 1px #000; 
	font-size: 3.5em;
	text-shadow: 1px #E0FBE2; 
	animation: color_Change 2s linear infinite;
}
.concepto{
	font-size: ;
	padding-top: 3%;
	font-family: "Bungee", sans-serif;
	-webkit-text-stroke: 1px #000; 
	text-shadow: 1px #E0FBE2; 
	animation: color_Change 2s linear infinite;
}
.conceptos_section{
	font-size: 2.5vh;
}
.index_text_ajust{
	font-size: 2.5vh;
	letter-spacing: 0.2em;
	margin: 2% auto 2% auto;
	padding-top: 2%;
}
h2{
	font-family: "Bungee", sans-serif;
	font-size: 1em;
}
img{
	width: 25%;
	border-radius: 3px;
}
.conceptos_title{
	font-family: "Bungee", sans-serif;
}
.concepto_descripcion{
	margin: 2% auto 2% auto;
	width: 100%;
}

/************** ARTE AMBIENTAL*/
.art_tittle{
	padding-top: 3%;
	font-family: "Bungee", sans-serif;
	-webkit-text-stroke: 1px #000; 
	font-size: 3.5em;
	text-shadow: 1px #E0FBE2; 
	animation: color_Change 2s linear infinite;
}
.arte_invitacion{
	width: 100%;
	font-size: 2.5vh;
	letter-spacing: 0.2em;
	margin: auto;
	padding-top: 2%;
}
.row{
	margin: 1em;
}

.deco_arte_ambiental{
	position: absolute;
	width: 10%;
	right: 7%;
	top:7%
}

/************** TALLER*/
.fases{
	margin: 2% auto 2% auto;
	text-align: justify;
}
/************** PARTICIPACION CIUDADANA*/

.art_participacion{
	padding-top: 3%;
	font-family: "Bungee", sans-serif;
	-webkit-text-stroke: 1px #000; 
	font-size: 3.5em;
	text-shadow: 1px #E0FBE2; 
	animation: color_Change 2s linear infinite;
}

.art_ejemplo_participacion{
	margin:2% auto 2% auto;
	width: 100%;
	font-family: "Bungee", sans-serif;
	-webkit-text-stroke: 1px #000; 
	font-size: 2.5em;
	text-shadow: 1px #E0FBE2; 
}
.participacion_intro{
	width: 100%;
	font-size: 2.5vh;
	letter-spacing: 0.2em;
	margin: auto;
	padding-top: 2%;
}
.mecanismos_tittle{
	padding-top: 3%;
	font-family: "Bungee", sans-serif;
	-webkit-text-stroke: 1px #000; 
	font-size: 3.5em;
}
.mecanismo_n{
	padding-top: 3%;
	font-family: "Bungee", sans-serif;
	-webkit-text-stroke: 1px #000; 
	text-shadow: 1px #E0FBE2; 
	animation: color_Change 2s linear infinite;
}

.referencia_mecanismo{
	font-size: 1.5em;
	text-decoration: none;
	color: #000;
}
.referencia_mecanismo:hover{
	text-decoration: none;
	color:#ACE1AF ;
}

.descripcion_mecanismo{
	width: 100%;
	font-size: 2.5vh;
	letter-spacing: 0.2em;
	margin: auto;
	padding-top: 2%;
}